<div class="row m-0">
  <div class=" d-flex justify-content-center align-items-center mt-2 mb-2">
    <div class="boxed shadow h-100">
      <form *ngIf="rfAddCustomer" class="form" [formGroup]="rfAddCustomer" (ngSubmit)="addCustomer()">
        <fieldset>
          <legend>
            <div>
              <div style="margin-left: 15px; margin-top: 15px">
                <a href="#" type="button"><i class="fa-solid fa-arrow-left"></i></a>
                <span style="font-size: 35px; margin-left: 180px">Thêm khách hàng</span>
              </div>
            </div>
          </legend>
        </fieldset>
        <div class="mb-2 ">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="name" class="form-label ms-2">Tên khách hàng<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control customer-infor" formControlName="nameCustomer"
                     [ngClass]="(rfAddCustomer.controls['nameCustomer'].touched)?
                      rfAddCustomer.controls['nameCustomer'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.controls['nameCustomer'].hasError('required') &&
                                     rfAddCustomer.controls['nameCustomer'].touched" style="color: red">
                Tên không được bỏ trống
              </div>
              <div *ngIf="rfAddCustomer.controls['nameCustomer'].hasError('pattern') &&
                                     rfAddCustomer.controls['nameCustomer'].touched" style="color: red">
                Tên phải đúng định dạng
              </div>
              <div *ngIf="rfAddCustomer.controls['nameCustomer'].hasError('maxlength') &&
                                     rfAddCustomer.controls['nameCustomer'].touched" style="color: red">
                Tên không được quá dài
              </div>
            </div>
          </div>
        </div>

        <div class="mb-2">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="initialPrice" class="form-label ms-2">Ngày sinh<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <input id="initialPrice" type="date" class="form-control customer-infor" formControlName="dateOfBirth"
                     [ngClass]="(rfAddCustomer.controls['dateOfBirth'].touched)?
                             (rfAddCustomer.controls['dateOfBirth'].invalid|| rfAddCustomer.errors?.checkBirthDay)?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.controls['dateOfBirth'].hasError('required') &&
                                     rfAddCustomer.controls['dateOfBirth'].touched" style="color: red">
                Ngày sinh không được bỏ trống
              </div>
              <div *ngIf="rfAddCustomer.errors?.checkBirthDay"
                   style="color: red">
                Bạn chưa đủ 18 tuổi
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="d-flex mb-2 mt-3 w-100">
            <div class="col-4">
              <label class="form-label ms-2">Giới tính<span style="color: red">(*)</span>:</label>
            </div>
            <div class="d-flex align-items-center mb-2 col-8">
              <div class="col-4">
                <input type="radio" formControlName="genderCustomer" value="0" >
                  <label>Nam</label><br>
              </div>
              <div class="col-4">
                <input type="radio" formControlName="genderCustomer" value="1" >
                  <label>Nữ</label><br>
              </div>
              <div class="col-4">
                <input type="radio" formControlName="genderCustomer" value="2">
                  <label>Khác</label><br>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2 ">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="name" class="form-label ms-2">Địa chỉ<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control customer-infor" formControlName="addressCustomer"
                     [ngClass]="(rfAddCustomer.controls['addressCustomer'].touched)?
                      rfAddCustomer.controls['addressCustomer'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.controls['addressCustomer'].hasError('required') &&
                                     rfAddCustomer.controls['addressCustomer'].touched" style="color: red">
                Địa chỉ không được bỏ trống
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2 ">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="name" class="form-label ms-2">Số điện thoại<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control customer-infor" formControlName="phoneCustomer1"
                     [ngClass]="(rfAddCustomer.controls['phoneCustomer1'].touched)?
                             rfAddCustomer.controls['phoneCustomer1'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.controls['phoneCustomer1'].hasError('required') &&
                                     rfAddCustomer.controls['phoneCustomer1'].touched" style="color: red">
                Số điện thoại không được bỏ trống
              </div>
              <div *ngIf="rfAddCustomer.controls['phoneCustomer1'].hasError('pattern') &&
                                     rfAddCustomer.controls['phoneCustomer1'].touched" style="color: red">
                Số điện thoại phải đúng định dạng
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2 ">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="name" class="form-label ms-2">Số điện thoại (2):</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control customer-infor" formControlName="phoneCustomer2"
                     [ngClass]="(rfAddCustomer.controls['phoneCustomer2'].touched)?
                             rfAddCustomer.controls['phoneCustomer2'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.controls['phoneCustomer2'].hasError('required') &&
                                     rfAddCustomer.controls['phoneCustomer2'].touched" style="color: red">
                Số điện thoại không được bỏ trống
              </div>
              <div *ngIf="rfAddCustomer.controls['phoneCustomer2'].hasError('pattern') &&
                                     rfAddCustomer.controls['phoneCustomer2'].touched" style="color: red">
                Số điện thoại phải đúng định dạng
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2 ">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="name" class="form-label ms-2">Email<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control customer-infor" formControlName="usernameAccount"
                     [ngClass]="(rfAddCustomer.controls['usernameAccount'].touched)?
                     (rfAddCustomer.controls['usernameAccount'].invalid|| rfAddCustomer.errors?.isExist)?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.errors?.isExist && rfAddCustomer.controls['usernameAccount'].touched"
                   style="color: red">
                Email đã tồn tại
              </div>
              <div *ngIf="rfAddCustomer.controls['usernameAccount'].hasError('required') &&
                                     rfAddCustomer.controls['usernameAccount'].touched" style="color: red">
                Email không được bỏ trống
              </div>
              <div *ngIf="rfAddCustomer.controls['usernameAccount'].hasError('pattern') &&
                                     rfAddCustomer.controls['usernameAccount'].touched" style="color: red">
                Email phải đúng định dạng
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2 ">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="name" class="form-label ms-2">Mật khẩu<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <input type="password" class="form-control customer-infor" formControlName="encryptPassword"
                     [ngClass]="(rfAddCustomer.controls['encryptPassword'].touched)?
                     rfAddCustomer.controls['encryptPassword'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.controls['encryptPassword'].hasError('required') &&
                                     rfAddCustomer.controls['encryptPassword'].touched" style="color: red">
                Mật khẩu không được bỏ trống
              </div>
              <div *ngIf="rfAddCustomer.controls['encryptPassword'].hasError('pattern') &&
                                     rfAddCustomer.controls['encryptPassword'].touched" style="color: red">
                Mật khẩu không đúng định dạng
              </div>
              <div *ngIf="rfAddCustomer.controls['encryptPassword'].hasError('minlength') &&
                                     rfAddCustomer.controls['encryptPassword'].touched" style="color: red">
                Mật khẩu không được quá ngắn
              </div>
              <div *ngIf="rfAddCustomer.controls['encryptPassword'].hasError('maxlength') &&
                                     rfAddCustomer.controls['encryptPassword'].touched" style="color: red">
                Mật khẩu không được quá dài
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2 ">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label for="name" class="form-label ms-2">CCCD<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <input id="name" type="text" class="form-control customer-infor" formControlName="idCardCustomer"
                     [ngClass]="(rfAddCustomer.controls['idCardCustomer'].touched)?
                     rfAddCustomer.controls['idCardCustomer'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddCustomer.controls['idCardCustomer'].hasError('required') &&
                                     rfAddCustomer.controls['idCardCustomer'].touched" style="color: red">
                CCCD không được bỏ trống
              </div>
              <div *ngIf="rfAddCustomer.controls['idCardCustomer'].hasError('pattern') &&
                                     rfAddCustomer.controls['idCardCustomer'].touched" style="color: red">
                CCCD không đúng định dạng
              </div>
            </div>
          </div>
        </div>


        <div class="d-flex mt-3 mb-2 w-100">
          <button type="button" style="margin-right: 33px"
                  class="btn btn-outline btn-outline-primary ms-auto d-flex justify-content-center" (click)="resetFormAndData()">
            <p>Nhập lại</p>
          </button>
          <button type="submit" style="margin-right: 0" [disabled]="(!rfAddCustomer.valid)"
                  class="btn btn-primary d-flex justify-content-center">
            <p>Thêm</p>
          </button>
        </div>

      </form>

      <div class="mb-2">
            <span style="font-size: 15px" class="fst-italic">
              Trường có dấu <span style="color: red"> (*)</span> là bắt
              buộc,không được bỏ trống
            </span>
      </div>

    </div>
  </div>
</div>
