<div>
  <div class="row container-fluid">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-md-12 col-sm-12">
      <form [formGroup]="formSearch" (ngSubmit)="search()" class="searchArea row p-3 my-5">
        <div class="col-4">
          <select formControlName="area" class="form-select my-2" aria-label="Default select example">
            <option value="" selected>Diện tích</option>
            <option value="0-49">< 50 m2</option>
            <option value="50-100">50-100 m2</option>
            <option value="100-150">100-150 m2</option>
            <option value="150-200">150-200 m2</option>
            <option value="200-250">200-250 m2</option>
            <option value="251-100000">> 250 m2</option>
          </select>
          <select formControlName="landType" class="form-select my-2" aria-label="Default select example">
            <option value="">Loại bất động sản</option>
            <option *ngFor="let item of landTypeList" [ngValue]="item.nameLandType">{{item.nameLandType}}</option>
          </select>
        </div>
        <div class="col-4">
          <select formControlName="price" class="form-select my-2" aria-label="Default select example">
            <option value="" selected>Giá tiền</option>
            <option value="0-499999999">< 500 triệu</option>
            <option value="500000000-1000000000">500 triệu - 1 tỷ</option>
            <option value="1000000000-1500000000">1 tỷ - 1,5 tỷ</option>
            <option value="1500000000-2000000000">1,5 tỷ - 2 tỷ</option>
            <option value="2000000000-2500000000">2 tỷ - 2,5 tỷ</option>
            <option value="2500000000-3000000000">2,5 tỷ - 3 tỷ</option>
            <option value="3000000000-3500000000">3 tỷ - 3,5 tỷ</option>
            <option value="3500000000-4000000000">3,5 tỷ - 4 tỷ</option>
            <option value="4000000001-1000000000000">> 4 tỷ</option>
          </select>
          <select formControlName="city" class="form-select my-2" aria-label="Default select example">
            <option value="">Thành phố</option>
            <option *ngFor="let item of cityList" [ngValue]="item.nameCity">{{item.nameCity}}</option>
          </select>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-outline-danger my-1">Tìm kiếm</button>
          <button class="btn btn-outline-danger my-1 mx-3" (click)="resetSearch()"><i
            class="fa-solid fa-arrows-rotate"></i></button>
          <select formControlName="direction" class="form-select my-2" aria-label="Default select example">
            <option value="">Hướng</option>
            <option *ngFor="let item of directionList" [ngValue]="item.nameDirection">{{item.nameDirection}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row container-fluid">
    <div class="col-12 d-flex justify-content-center" *ngIf="mess!=''" style="height: 280px">
      <h1>{{mess}}</h1>
    </div>
    <div class="col-lg-3 d-flex justify-content-center" *ngFor="let item of postList" style="text-decoration: none">
      <a id="postCard" [routerLink]="['/post/detail', item.idPost]" class="card p-0 my-5" style="width: 19rem; text-decoration: none">
        <img *ngIf="item.imageURL == ''"
             src="https://premiervillagehalongbayresort.com/wp-content/uploads/2019/08/Bản-sao-của-775A8349-1.jpg"
             class="card-img-top" alt="..." style="height: 250px">
        <img *ngIf="item.imageURL != ''" [src]="item.imageURL"
             class="card-img-top"
             alt="lỗi"
             style="height: 250px">
        <div class="card-body" style="height: 200px">
          <h6 class="card-title text-danger" style="height: 50px">{{item.namePost|slice:0:100}}</h6>
          <p class="card-text text-dark" *ngIf="item.price != undefined">
            <span *ngIf="item.price >= 1000000000; else elseBlock">{{item.price / 1000000000| number :'1.1-1' }}
              tỷ</span>
            <ng-template #elseBlock>
              <span>{{item.price / 1000000| number :'1.1-1' }} triệu</span>
            </ng-template>
            <span> . </span>
            <span>{{item.area}} m<sup>2</sup></span>
          </p>
          <p class="card-text text-dark">
            <span>{{item.district}}</span>
            <span>, </span>
            <span>{{item.city}}</span>
          </p>
          <br>
          <p class="card-text text-secondary">
            <span>{{item.dateCreation|date:'dd/MM/yyyy'}}</span>
          </p>
        </div>
      </a>
    </div>
    ​
  </div>
  <div class="text-center my-3">
    <button *ngIf="page != totalPage-1 && mess==''" class="btn btn-outline-dark" (click)="showMore()">Xem thêm</button>
    <button *ngIf="page == totalPage-1 && mess=='' && totalPage > 1" class="btn btn-outline-dark" (click)="showLess()">
      Ẩn bớt
    </button>
  </div>
</div>
