<!--Header-->
<div>
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-3 align-items-center bestel-logo">
          <a href="/home" class="header-logo">
            <img
              src="../../../assets/image/logo_img.png" alt="logo "
              class="img-fluid" style="margin: 20px">
          </a>
        </div>
        <div class="col-7 align-items-center bestel-logo">
        </div>
        <div class="col-2 align-items-center bestel-logo">
          <div style="margin-top: 40px; color: #9933cc">Lê Bá Hoàng Giang</div>
        </div>
      </div>
    </div>
  </div>
</div>
