
<div class="container mt-5" id="container">
  <div class="form-container sign-up-container">
    <form>
      <h1>Đăng ký</h1>
      <!--            Tên đăng nhập(*)-->
      <input formControlName="nameAccount" type="text" placeholder="Tên đăng nhập(*)"/>

      <fieldset formGroupName="passwordGroup">
        <!--password-->
        <input formControlName="password" type="password" placeholder="Mật khẩu(*)"/>

        <!--password confirm-->
        <input formControlName="passwordConfirm" type="password" placeholder="Nhập lại khẩu(*)"/>
      </fieldset>


      <!--Họ và tên(*)-->
      <input formControlName="floatingName" type="text" placeholder="Họ và tên(*)"/>

      <!--CCCD-->
      <input formControlName="cccd" type="text" placeholder="CCCD(*)"/>


      <!--Di Động 1(*)-->
      <input formControlName="phone1" type="text" placeholder="Di Động 1(*)"/>

      <!--Di Động 2-->
      <input formControlName="phone2" type="text" placeholder="Di Động 2"/>

      <!--email-->
      <input formControlName="email" type="email" placeholder="Email(*)"/>

      <!--Địa chỉ(*)-->
      <input formControlName="address" type="text" placeholder="Địa chỉ(*)"/>

      <div class="form-check d-flex justify-content-center">

        <input class="me-3" style="height: 18px; width: 18px"  type="checkbox" value="" >
        <label class="form-check-label" >
          Đồng ý <a href="">điều khoản</a> của website
        </label>

      </div>

      <button type="submit">Đăng ký</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left overlay-right">
        <h3>Batdongsan.com.vn</h3>
      <img src="../../../assets/logoSang.png" height="213" width="399"/>
        <p>Đăng nhập bằng tài khoản của bạn</p>
        <button class="ghost" routerLink="/account/login" id="signIn">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>

