<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<div th:replace="~{/layout::navbar}"></div>
<h3>facility</h3>
<p>
    <a th:href="@{/contract/list}">
        Back to list
    </a>
</p>
<div id="form">
    <form th:action="@{/contract/luu}" th:object="${ContractDetail}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label>quantity</label>
            <input type="number" th:field="*{quantity}"/>

        </div>
        <div>
<!--            <input hidden  th:value="${contract.id}">-->

            <select hidden th:field="*{contract}">
                <option th:each="p : ${contract}"
                        th:value="${p.id}"></option>
            </select>
        </div>
        <div>
            <label>attachFacility :</label>
            <select th:field="*{attachFacility}">
                <option th:each="p : ${attachFacilityList}"
                        th:value="${p.id}"
                        th:text="${p.name}"></option>
            </select>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>