<div class="container"
     style="text-align: center; font-size: 14px;
     height: 160vh;width: 90vh ; overflow:hidden;
     border: solid cadetblue 30px;
     padding-top: 20px;padding-bottom: 20px"
>
  <div class="row">
    <div class="col bg-light info">
      <form>
        <fieldset>
          <legend style="text-align: center">Đăng ký thành viên</legend>
          <table>
            <tr>
              <td>Tên đăng nhập(*)
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingLogin" placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2">
                  <label for="floatingLogin">Tên đăng nhập</label>
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mật khẩu(*)
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingPassword" placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2">
                  <label for="floatingPassword">Mật khẩu</label>
                  <span class="input-group-text" id="basic-addon5"><i class="fa-solid fa-lock"></i></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Nhập lại mật khẩu(*)
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <div class=" input-group form-floating">
                    <input type="text" class="form-control" id="floatingConfirmPassword" placeholder="Password">
                    <label for="floatingConfirmPassword">Nhập lại mật khẩu</label>
                    <span class="input-group-text" id="basic-addon6"><i class="fa-solid fa-lock"></i></span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Họ và tên(*)
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingName" placeholder="Password">
                  <label for="floatingName">Họ và tên</label>
                  <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-user"></i></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Di Động 1(*)
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingPhone1" placeholder="Password">
                  <label for="floatingPhone1">Di Động 1</label>
                  <span class="input-group-text" id="basic-addon4"><i class="fa-regular fa-calendar"></i></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Di Động 2
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingPhone2" placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2">
                  <label for="floatingPhone2">Di Động 2</label>
                  <span class="input-group-text" id="basic-addon5"><i class="fa-solid fa-phone-flip"></i></span>
                </div>
              </td>
            </tr>

            <tr>
              <td>Email liên hệ(*)
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2">
                  <label for="floatingEmail">Email liên hệ</label>
                  <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-envelope"></i></span>
                </div>
              </td>
            </tr>

            <tr>
              <td>Địa chỉ(*)
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingAddress" placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2">
                  <label for="floatingAddress">Địa chỉ</label>
                  <span class="input-group-text" id="basic-addon7"><i class="fa-solid fa-location-dot"></i></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>CMND
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingIdCard" placeholder="Password">
                  <label for="floatingIdCard">CMND</label>
                  <span class="input-group-text" id="basic-addon6"><i class="fa-regular fa-id-card"></i></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Mã xác minh
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingVerification" placeholder="name@example.com"
                         aria-label="name@example.com" aria-describedby="basic-addon2">
                  <label for="floatingVerification">Mã xác minh</label>
                  <span class="input-group-text" id="basic-addon5"><i
                    class="fa-sharp fa-solid fa-rotate-left"></i></span>
                </div>
              </td>
            </tr>

            <tr>
              <td>Nhập lại mã xác minh
              </td>
              <td>
                <div class=" input-group form-floating mb-3">
                  <input type="text" class="form-control" id="floatingConfirmVerification" placeholder="Password">
                  <label for="floatingConfirmVerification">Nhập lại mã xác minh</label>
                  <span class="input-group-text" id="basic-addon6"><i class="fa-solid fa-circle-check"></i></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Loại tài khoản(*)
              </td>
              <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">Mua</label>
              </div>
              <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">Bán</label>
              </div>
            </tr>
            <tr class="mb-3">
              <td>
                <label class="form-check-label" for="inlineCheckbox1">
                  Đồng ý <a href="">điều khoản</a> của website
                </label>
              </td>
              <td>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="inlineCheckbox1">
                </div>
              </td>
            </tr>
            <tr class="mb-3">
              <td>
                <div>
                  <div style="height: 10px"></div>
                  <div >
                    <button type="reset" class="btn btn-primary">Hủy</button>
                  </div>
                </div>
              </td>
              <td >
                <div>
                  <div style="height: 10px"></div>
                  <div >
                    <button type="button" class="btn btn-primary">Đăng ký</button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>

