<!--Navbar-->
<div>
  <div class="header-nav js-header-nav" style="background: #C3FF9D">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse d-flex w-100 justify-content-between">
        <ul id="menu-furama-vi" class="menu navbar-nav js-main-menu" style="margin-left: 5%;">
          <li id="nav-menu-item-5006"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a routerLink="" class="nav-link main-menu-link" style="color: red">HOME</a>
          </li>
          <li id="nav-menu-item-5008"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a routerLink="/tickets" class="nav-link main-menu-link" style="color: red">VÉ XE</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
