<!DOCTYPE html>
<html lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Error</title>

</head>
<body>



<div th:replace="~{/layout::navbar}"></div>


<header style="text-align: center; color: red; font-size: xxx-large "   >DANH SÁCH RỖNG BẠN ƠI BẠN </header>


<a th:href="@{/blog/create}">
    <input class="m-3 btn btn-danger" type="submit" value="Add new blog">
</a>

<a th:href="@{/category/create}">
    <input class="m-3 btn btn-danger" type="submit" value=" Add new category">
</a>


<img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
     src="https://i.pinimg.com/564x/a6/bb/67/a6bb67eb7e9ad7def06b6e62eb213410.jpg">


<footer th:replace="/layout :: footer"></footer>

</body>
</html>