<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--chưa xác thuc-->
<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
  <h1 th:case="${true}" style="text-align: center; background-color: yellow">đăng nhập thành công</h1>
  <span th:case="*">Should never happen, but who knows...</span>
</div>



  <h1 style="text-align: center; background-color: yellow">chào mừng bạn:
    <span style="color: #002ef3" sec:authentication="principal.username"></span>
  </h1>


    <h1 style="text-align: center; background-color: yellow">chào mừng bạn admin đẹp trai</h1>
  </div>

    <div th:replace="~{/layout::navbar}"></div>
    <div class="container-fluid" style="text-align: center">
      <div class="row">
        <div>
          <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"

               src="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/312560838_3041165549362792_5602301984739009203_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=VymoSAW6jskAX-hSZ18&_nc_ht=scontent.fdad3-4.fna&oh=00_AfAkHBjz2Xi44z4w_IDyKqTJxk1gfuFE4FsH3VhcZ572IA&oe=6376DF64"

               width="1109" height="738">
        </div>
        <div class="col-sm-3" style="background-color:#6e00ff;">
          <div style="color: gold">
            ẢNH MINH ĐỨC NĂM 18 TUỔI
          </div>
          <div>
            <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
                 src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-6/311928722_3040733922739288_3218513260767654339_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=TWqWgnPqVzYAX-6iWyj&_nc_ht=scontent.fdad3-1.fna&oh=00_AfCaZ8o1QjGO305LuPrXxb121nlECcQR8aFfcihc-BAdNA&oe=6376BCA2"
                 width="443" height="789">
          </div>
        </div>
        <div class="col-sm-6" style="background-color:#ffca07;">
          <div style="color: #002ef3">
            HÌNH ẢNH ĐỨC NGAY BÂY GIỜ
          </div>
          <div>
            <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(39,100%,50%);
                transition: background-color 300ms;"
                 src="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-6/311589275_3040733602739320_736373566818823206_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=eRO2XWn0DHkAX-_jB3j&tn=WAm4EPfXygu3-auB&_nc_ht=scontent.fdad3-5.fna&oh=00_AfD4zrtN9Zw8VkqpWv8aGKl97Tx29dFUrLw-5Jek1al_EA&oe=6375F255"
                 width="591" height="789">
          </div>
        </div>
        <div class="col-sm-3" style="background-color:#1900ff;">
          <div style="color: gold">
            ẢNH MINH ĐỨC NĂM 20 TUỔI
          </div>
          <div>
            <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
                 src="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/311477007_3040733782739302_6590612876873591560_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=fvqDZpVO1akAX9bvuTV&_nc_ht=scontent.fdad3-4.fna&oh=00_AfCIlItYiY7vq9IDFIeyGAB3vYrEMhJ7Czy21H5obt5mfA&oe=63758940"
                 width="591" height="789">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</body>
</html>



