<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div th:replace="~{/layout::navbar}"></div>
<h3 style="text-align: center">employee</h3>

<p>
    <a th:href="@{/employee/create}">
        <input class="m-3 btn btn-danger" type="submit" value=" Add ">
    </a>
</p>

<form action="/employee/list" method="get">
    <tr>
        <input class="form-control me-2 w-25 " type="text" placeholder="Name"
               name="name" aria-label="Search" th:value="${name}">
        <button class="btn btn-success" type="submit">Search</button>
    </tr>
</form>

<a th:href="@{/employee/list(sort='name', name=${name})}" class="btn btn-success" type="submit">
    Sort By Name</a>


<table id="tableMinhDuc">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>dateOfBirth</th>
        <th>idCard</th>
        <th>salary</th>
        <th>phoneNumber</th>
        <th>email</th>
        <th>address</th>
        <th>position</th>
        <th>division</th>
        <th>educationDegree</th>
        <th>user</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee,loop : ${employeePage}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.dateOfBirth}"></td>
        <td th:text="${employee.idCard}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.position.name}"></td>
        <td th:text="${employee.division.name}"></td>
        <td th:text="${employee.educationDegree.name}"></td>
        <td th:text="${employee.user.username}"></td>


    </tbody>
</table>

<!-- Phan Trang -->
<div class="d-flex justify-content-end ">
    <ul class="pagination">
        <li class="page-item disabled" th:if="${employeePage.number == 0}">
            <a class="page-link" href="">Previous</a>
        </li>
        <li class="page-item" th:if="${employeePage.number > 0}">
            <a class="page-link"
               th:href="@{/employee/list(page=${employeePage.number - 1}, sort=${sortValue}, name=${name})}">Previous</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href=""><span th:text="${employeePage.number + 1}"></span> / <span
                    th:text="${employeePage.totalPages}"></span></a>
        </li>
        <li class="page-item disabled" th:if="${employeePage.number >= employeePage.totalPages - 1}">
            <a class="page-link" href="">Next</a>
        </li>
        <li class="page-item" th:if="${employeePage.number < employeePage.totalPages - 1}">
            <a class="page-link"
               th:href="@{/employee/list(page=${employeePage.number + 1}, sort=${sortValue}, name=${name})}">Next</a>
        </li>
    </ul>
</div>

<script>
    // <%--    thêm value cho thẻ delete--%>
    function getIdToDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").value = name;
    }

    // <%--    thêm value cho thẻ view--%>
    function infoToDetail(id, name,DescriptionOtherConvenience,FacilityType) {
        document.getElementById("detailId").value = id;
        document.getElementById("detailName").value = name;
        document.getElementById("detailDescriptionOtherConvenience").value = DescriptionOtherConvenience;
        document.getElementById("detailFacilityType").value = FacilityType;
    }
</script>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>