<h1>Cập nhật thông tin sản phẩm</h1>
<button><a routerLink="/product/list">Quay lại trang danh sách</a></button>
<form [formGroup]="productUpdateForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr hidden>
      <td>Mã sản phẩm:</td>
      <td><label>
        <input type="number" formControlName="id" >
      </label></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><label>
        <input type="text" formControlName="name">
      </label></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><label>
        <input type="number" formControlName="price">
      </label></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><label>
        <input type="text" formControlName="description">
      </label></td>
    </tr>
    <tr>
      <td>Danh mục</td>
      <select formControlName="category" [compareWith]="compareCate">
        <option *ngFor="let cate of categories" [ngValue]="cate">{{cate.name}}</option>
      </select>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">Cập nhật</button></td>
    </tr>
  </table>
</form>
