<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>


<div th:replace="~{/layout::navbar}"></div>
<h3 style="text-align: center">customer</h3>


<p>
    <a th:href="@{/customer/create}">
        <input class="m-3 btn btn-danger" type="submit" value=" Add">
    </a>
</p>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" method="get" action="/customer/list">
            <tr>
                <input class="form-control me-2 w-25 " type="text" placeholder="Name"
                       name="name" aria-label="Search" th:value="${name}">
            </tr>
            <tr>
                <input class="form-control me-2 w-25 " type="text" placeholder="email"
                       name="email" aria-label="Search" th:value="${email}">
            </tr>
            <tr>
                <label>CustomerType:</label>
                <select name="CustomerTypeID">
                    <option value="">Choose Something</option>
                    <option name="" th:each="p : ${customerTypeList}"
                            th:value="${p.id}"
                            th:text="${p.name}"></option>
                </select>
            </tr>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<a th:href="@{/customer/list(sort='name', name=${name})}" class="btn btn-success" type="submit">Sort By
    Name</a>
<table id="tableMinhDuc">
    <thead>
    <tr>
        <!--        <th>No.</th>-->
        <th>ID</th>
        <th>Name</th>
        <th>dateOfBirth</th>
        <th>gender</th>
        <th>idCard</th>
        <th>phoneNumber</th>
        <th>email</th>
        <th>address</th>
        <th>customerType</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,loop : ${customerPage}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td>
            <span th:if="${customer.gender == '1'}">🙎🏻‍♂️</span>

            <span th:if="${customer.gender == '0'}">🙎🏻‍♀️</span>
        </td>
        <td th:text="${customer.idCard}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.customerType.name}"></td>


        <!-- EDIT -->
        <td><a th:href="@{/customer/{id}/edit(id=${customer.id})}">
            <buton class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
            </buton>
        </a></td>

        <td>
            <!-- DELETE -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    th:attr="onclick=|getIdToDelete('${customer.id}','${customer.name}')|">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </td>


        <td>
            <!-- VIEW -->
            <button th:attr="onclick=|infoToDetail('${customer.id}','${customer.name}','${customer.idCard}','${customer.phoneNumber}')|"
                    class="btn btn-warning"
                    type="button" data-bs-toggle="modal" data-bs-target="#detailModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </td>
    </tr>

    </tbody>
</table>

<!-- Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form action="/customer/delete" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-danger" id="exampleModalLabel">customer</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <b>ID :</b>
                    <input type="hidden" readonly name="id" id="idDelete" class="form-control"><br>
                    <b>Name :</b>
                    <input type="text" readonly name="name" id="nameDelete" class="form-control"><br>
                    <h3 class="text-danger">Are you sure want delete </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" value="delete">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal view-->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-danger" id="exampleModalLabel1">Blog</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <b>ID :</b>
                    <input type="text" readonly name="id" id="detailId" class="form-control"><br>
                    <b>Name :</b>
                    <input type="text" readonly name="name" id="detailName" class="form-control"><br>
                    <b>idCard :</b>
                    <input type="text" readonly name="idCard" id="detailidCard" class="form-control"><br>
                    <b>phoneNumber :</b>
                    <input type="text" readonly name="note" id="detailphoneNumber" class="form-control"><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Phan Trang -->
<div class="d-flex justify-content-end ">
    <ul class="pagination">
        <li class="page-item disabled" th:if="${customerPage.number == 0}">
            <a class="page-link" href="">Previous</a>
        </li>
        <li class="page-item" th:if="${customerPage.number > 0}">
            <a class="page-link"
               th:href="@{/customer/list(page=${customerPage.number - 1}, sort=${sortValue}, name=${name})}">Previous</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href=""><span th:text="${customerPage.number + 1}"></span> / <span
                    th:text="${customerPage.totalPages}"></span></a>
        </li>
        <li class="page-item disabled" th:if="${customerPage.number >= customerPage.totalPages - 1}">
            <a class="page-link" href="">Next</a>
        </li>
        <li class="page-item" th:if="${customerPage.number < customerPage.totalPages - 1}">
            <a class="page-link"
               th:href="@{/customer/list(page=${customerPage.number + 1}, sort=${sortValue}, name=${name})}">Next</a>
        </li>
    </ul>
</div>
<script>
    // <%--    thêm value cho thẻ delete--%>
    function getIdToDelete(id, name) {

        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").value = name;
    }

    // <%--    thêm value cho thẻ view--%>
    function infoToDetail(id, name, idCard, phoneNumber) {
        document.getElementById("detailId").value = id;
        document.getElementById("detailName").value = name;
        document.getElementById("detailidCard").value = idCard;
        document.getElementById("detailphoneNumber").value = phoneNumber;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>