<h1>Sửa sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Hang</td>
      <td><select formControlName="category" id="" [compareWith]="compareCategory">
        <option *ngFor="let item of category" [ngValue]="item">{{item.name}}</option>
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">edit</button></td>
    </tr>
  </table>
</form>
