<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div th:replace="~{/layout::navbar}"></div>
<h3 style="text-align: center">facility</h3>

<p>
    <a th:href="@{/facility/create}">
        <input class="m-3 btn btn-danger" type="submit" value=" Add ">
    </a>
</p>

<form action="/facility/list" method="get">
    <tr>
        <input class="form-control me-2 w-25 " type="text" placeholder="Name"
               name="name" aria-label="Search" th:value="${name}">
        <button class="btn btn-success" type="submit">Search</button>
    </tr>
    <tr>
        <form>
            <label>CustomerType:</label>
            <select name="FacilityTypeID">
                <option value="" selected>Choose Something</option>
                <option th:each="p : ${facilityTypeList}"
                        th:value="${p.id}"
                        th:text="${p.name}"></option>
            </select>
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </tr>
</form>

<a th:href="@{/facility/list(sort='name', name=${name})}" class="btn btn-success" type="submit">
    Sort By Name</a>


<table id="tableMinhDuc">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>area</th>
        <th>cost</th>
        <th>maxPeople</th>
        <th>standardRoom</th>
        <th>descriptionOtherConvenience</th>
        <th>poolArea</th>
        <th>numberOfFloors</th>
        <th>facilityFree</th>
        <th>rentType</th>
        <th>facilityType</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="facility,loop : ${facilityPage}">
        <td th:text="${facility.id}"></td>
        <td th:text="${facility.name}"></td>
        <td th:text="${facility.area}"></td>
        <td th:text="${facility.cost}"></td>
        <td th:text="${facility.maxPeople}"></td>
        <td th:text="${facility.standardRoom}"></td>
        <td th:text="${facility.descriptionOtherConvenience}"></td>
        <td th:text="${facility.poolArea}"></td>
        <td th:text="${facility.numberOfFloors}"></td>
        <td th:text="${facility.facilityFree}"></td>
        <td th:text="${facility.rentType.name}"></td>
        <td th:text="${facility.facilityType.name}"></td>



        <!-- EDIT -->
        <td><a th:href="@{/facility/{id}/edit(id=${facility.id})}">
            <buton class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
            </buton>
        </a></td>

        <td>
            <!-- DELETE -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    th:attr="onclick=|getIdToDelete('${facility.id}','${facility.name}')|">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </td>


        <td>
            <!-- VIEW -->
            <button th:attr="onclick=|infoToDetail('${facility.id}','${facility.name}','${facility.descriptionOtherConvenience}','${facility.facilityType.name}')|"
                    class="btn btn-warning"
                    type="button" data-bs-toggle="modal" data-bs-target="#detailModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </td>
    </tr>





    </tbody>
</table>

<!-- Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form action="/facility/delete" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-danger" id="exampleModalLabel">customer</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <b>ID :</b>
                    <input type="hidden" readonly name="id" id="idDelete" class="form-control"><br>
                    <b>Name :</b>
                    <input type="text" readonly name="name" id="nameDelete" class="form-control"><br>
                    <h3 class="text-danger">Are you sure want delete </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" value="delete">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal view-->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-danger" id="exampleModalLabel1">Blog</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <b>ID :</b>
                    <input type="text" readonly name="id" id="detailId" class="form-control"><br>
                    <b>Name :</b>
                    <input type="text" readonly name="name" id="detailName" class="form-control"><br>
                    <b>DescriptionOtherConvenience :</b>
                    <input type="text" readonly name="name" id="detailDescriptionOtherConvenience"
                           class="form-control"><br>
                    <b>FacilityType :</b>
                    <input type="text" readonly name="name" id="detailFacilityType" class="form-control"><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Phan Trang -->
<div class="d-flex justify-content-end ">
    <ul class="pagination">
        <li class="page-item disabled" th:if="${facilityPage.number == 0}">
            <a class="page-link" href="">Previous</a>
        </li>
        <li class="page-item" th:if="${facilityPage.number > 0}">
            <a class="page-link"
               th:href="@{/facility/list(page=${facilityPage.number - 1}, sort=${sortValue}, name=${name})}">Previous</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href=""><span th:text="${facilityPage.number + 1}"></span> / <span
                    th:text="${facilityPage.totalPages}"></span></a>
        </li>
        <li class="page-item disabled" th:if="${facilityPage.number >= facilityPage.totalPages - 1}">
            <a class="page-link" href="">Next</a>
        </li>
        <li class="page-item" th:if="${facilityPage.number < facilityPage.totalPages - 1}">
            <a class="page-link"
               th:href="@{/facility/list(page=${facilityPage.number + 1}, sort=${sortValue}, name=${name})}">Next</a>
        </li>
    </ul>
</div>

<script>
    // <%--    thêm value cho thẻ delete--%>
    function getIdToDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").value = name;
    }

    // <%--    thêm value cho thẻ view--%>
    function infoToDetail(id, name, DescriptionOtherConvenience, FacilityType) {
        document.getElementById("detailId").value = id;
        document.getElementById("detailName").value = name;
        document.getElementById("detailDescriptionOtherConvenience").value = DescriptionOtherConvenience;
        document.getElementById("detailFacilityType").value = FacilityType;
    }
</script>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>