<ng-template #noData ><h1 class="text-center fw-bold  mt-3">Không có dữ liệu này!</h1></ng-template>
<form [formGroup]="formDataFormUpdate" (ngSubmit)="updateDataForm()" *ngIf="checkError else noData">


  <div class="row m-0">
    <div class=" d-flex justify-content-center align-items-center mt-2 mb-2 " >
      <div class="boxed shadow h-100" style="align-content: center" >
        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <a class="btn text-center" routerLink="/form"><i class="fa-solid fa-arrow-left"></i> Quay lại</a>
          </div>
          <div class="mb-2 row">
            <fieldset>
              <legend>
                <div class="mt-0 text-center">
                  <h1>Chỉnh sửa biểu mẫu</h1>
                </div>
                <br>
              </legend>
            </fieldset>
          </div>
        </div>
        <input hidden readonly type="number" formControlName="idDataForm">

        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label  class="form-label ms-2" style="margin-bottom: 40px">Nội Dung<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <label>
                <textarea formControlName = "contentDataForm"  style="border: solid 1px cornflowerblue" class="form-control" rows="4" cols="50" ></textarea>
              </label>
              <div class="text-danger" *ngFor="let validation of validationMessages.contentDataForm">
                <div class="error-message"
                     *ngIf="formDataFormUpdate.get('contentDataForm')?.hasError(validation.type) && (formDataFormUpdate.get('contentDataForm')?.dirty || formDataFormUpdate.get('contentDataForm')?.touched)else elseBlock" >
                  {{validation.message}}</div>
              </div>

            </div>
          </div>
        </div>

        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2 row" >
            <div class="col-4">
              <label  class="form-label ms-2">Tập tin văn bản<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8" style="text-align: left">
              <input type="file" class="form-control-file" (change)="showPreview($event)" accept=".doc,.docx,.xml" formControlName="fileForm">
            </div>
            <div class="text-danger" *ngFor="let validation of validationMessages.fileForm">
              <div class="error-message"
                   *ngIf="formDataFormUpdate.get('fileForm')?.hasError(validation.type) && (formDataFormUpdate.get('fileForm')?.dirty || formDataFormUpdate.get('fileForm')?.touched) else elseBlock">
                {{validation.message}}</div>
            </div>
            <ng-template #elseBlock><br></ng-template>
          </div>

        </div>

        <div class="mb-2">
          <span style="font-size: 15px" class="fst-italic">
            Trường có dấu <span style="color: red"> (*)</span> là bắt
            buộc,không được bỏ trống
          </span>
        </div>

        <div class="d-flex mt-3 mb-2 w-100">
          <button [disabled]="formDataFormUpdate.invalid" type="submit" style="margin-right: 5px ;height: 20%;width: 20%"
                  class="btn btn-primary d-flex justify-content-center" >
            <p>Chỉnh sửa</p>
          </button>
          <button type="button" style="margin-right: 5px;height: 20%;width: 20%"
                  class="btn btn-outline btn-outline-primary ms-auto d-flex justify-content-center" (click)="return()">
            <p>Nhập lại</p>
          </button>
          <button type="button" style="margin-right: 5px;height: 20%;width: 20%" class="btn btn-outline btn-outline-danger ms-auto d-flex justify-content-center" routerLink="/form">
            Hủy
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
