<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>display</title>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form class="form-control" action="/display" th:object="${userDto}">
        <div class="row text-danger text-center"><h2>Form User</h2></div>
        <div class="row mb-6">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="firstName">First name</label>
                    <input type="text" id="firstName" th:field="*{firstName}" class="form-control"/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="lastName">Last name</label>
                    <input type="text" id="lastName" th:field="*{lastName}" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-outline">
                <label class="form-label" for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="form-outline">
                <label class="form-label" for="age">Age</label>
                <input type="date" id="age" th:field="*{age}" class="form-control"/>
            </div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Email </label>
            <input type="text" id="email" th:field="*{email}" class="form-control"/>
        </div>
        <div><h3 class="text-danger" th:text="${msg}"></h3></div>
    </form>
</div>
<script src="/style/bootstrap/bootstrap.min.js">
</script>
</body>
</html>