<div class="row m-0">
  <div class=" d-flex justify-content-center align-items-center mt-2 mb-2" style="min-width: 560px">
    <div class="boxed shadow h-100">
      <!--      <form *ngIf="rfCustomer">-->
      <fieldset>
        <legend>
          <div>
            <div style="margin-left: 15px; margin-top: 15px">
              <a href="#" type="button"><i class="fa-solid fa-arrow-left"></i></a>
              <span
                style="font-size: 35px; margin-left: 30px">Xem thông tin chi khách hàng {{customerDetail.idCustomer}}</span>
            </div>
          </div>
        </legend>
      </fieldset>

      <div class="mb-2 row">
        <div class="col-4">
          <label class="form-label ms-2">Họ và tên:</label>
        </div>
        <div class="col-8">
          <label>{{customerDetail.nameCustomer}}</label>
        </div>
      </div>


      <div class="mb-2 row">
        <div class="col-4">
          <label class="form-label ms-2">Giới tính:</label>
        </div>
        <div class="col-8">
          <label *ngIf="customerDetail.genderCustomer == 0" >Nam</label>
          <label *ngIf="customerDetail.genderCustomer == 1">Nữ</label>
          <label *ngIf="customerDetail.genderCustomer == 2">Khác</label>
        </div>
      </div>

      <div class="mb-2 row">
        <div class="col-4">
          <label class="form-label ms-2">Ngày sinh:</label>
        </div>
        <div class="col-8">
          <label>{{customerDetail.dateOfBirth}}</label>
        </div>
      </div>

      <div class="mb-2 row">
        <div class="col-4">
          <label class="form-label ms-2">Số điện thoại:</label>
        </div>
        <div class="col-8">
          <label>{{customerDetail.phoneCustomer1}}</label>
        </div>
      </div>

      <div class="mb-2 row">
        <div class="col-4">
          <label class="form-label ms-2">Email:</label>
        </div>
        <div class="col-8">
          <label>{{customerDetail.emailCustomer}}</label>
        </div>
      </div>

      <div class="mb-2 row">
        <div class="col-4">
          <label class="form-label ms-2">Địa chỉ:</label>
        </div>
        <div class="col-8">
          <label>{{customerDetail.addressCustomer}}</label>
        </div>
      </div>

      <div class="mb-2 row justify-content-center ">
        <button type="submit" style="margin-right: 5px ; width: 50%;"
                class="btn btn-outline-success d-flex justify-content-center">
          <p>Xem danh sách nhu cầu của KH001</p>
        </button>
      </div>


      <div class="d-flex mt-3 mb-4 w-100 ">
        <button type="submit" style="margin-right: 5px"
                class="btn btn-primary d-flex justify-content-center">
          <p>Sửa thông tin</p>
        </button>
        <button class="btn btn-outline btn-outline-danger ms-auto d-flex justify-content-center">
          <p>Xoá</p>
        </button>
      </div>

      <!--      </form>-->
    </div>
  </div>
</div>

