<div class="container-fluid main-content">
  <h2 class="text-center fw-bold mt-3">DANH SÁCH KHÁCH HÀNG </h2>
  <div class="row">
    <nav class="navbar navbar-expand-lg py-0 my-0">
      <div class="container-fluid">
        <a routerLink="/customer/add">
          <button class="btn btn-outline-primary">
            <span class="text"> Thêm khách hàng</span>
          </button>
        </a>
        <div class="d-flex my-2">
          <div class="input-group mb-3">
            <!--
                      <input class="form-control me-1" type="text" placeholder="" aria-label="Search"
                             class="form-control" [(ngModel)]="allSearch">
                      <button class="btn btn-light btn-outline-warning" (click)="resetSearchInput()">
                        <i class="fa-solid fa-xmark"></i></button>
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" type="button" (click)="searchByMore()">Tìm kiếm</button>
                      </div>
            -->

            <input style="width: 300px;margin-left: 513px" class="form-control me-1" type="search"
                   placeholder="Nhập vào tên hoặc địa chỉ muốn tìm" aria-label="Search" [(ngModel)]="allSearch">
            <button class="btn btn-outline-danger" type="button" (click)="searchByMore()">
              Tìm kiếm
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <table class="table table-light table-striped mt-3">
    <thead>
    <tr class="table-dark">
      <th scope="col">STT</th>
      <th scope="col">Mã KH</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Số điện thoại 2</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">Chi tiết</th>
      <th scope="col">Chức năng</th>
    </tr>
    </thead>
    <tr *ngIf="(customer) == null  ; else elseBlock">
      <td colspan="10" class="text-danger" style="text-align: center">Không tìm thấy dữ liệu!, Vui lòng kiểm tra lại
        thông tin
      </td>
    </tr>
    <ng-template #elseBlock>
      <tbody>
      <tr *ngFor="let item of customer.content; let i = index">
        <td>{{(i + 1)}}</td>
        <td>{{item.code_customer}}</td>
        <td>{{item.name_customer}}</td>
        <td>{{item.address_customer}}</td>
        <!--        <td>-->
        <!--          <div id="collapsedContent{{item.id_customer}}" style="display: inline-block">-->
        <!--            {{item.address_customer | CustomerPipe}}-->
        <!--            <a style="color:blue;" role="button" id="expandButton{{item.id_customer}}"-->
        <!--               *ngIf="item.address_customer.length > 20"-->
        <!--               (click)="expandOrCollapse(item.id_customer, 'expand') ">-->
        <!--              ...-->
        <!--            </a>-->
        <!--          </div>-->
        <!--          <div id="expandedContent{{item.id_customer}}" style="display: none">-->
        <!--            {{item.address_customer}}-->
        <!--            <a style=" color: blue" role="button" id="collapseButton{{item.id_customer}}"-->
        <!--               (click)="expandOrCollapse(item.id_customer, 'collapse')">-->
        <!--              <=-->
        <!--            </a>-->
        <!--          </div>-->
        <!--        </td>-->
        <td>{{item.phone_customer1}}</td>
        <!--      <td>-->
        <!--        <h8 *ngIf="item.approval_customer != null; else elsePhone2">{{item.phone_customer2}}</h8>-->
        <!--        <ng-template #elsePhone2>Không có</ng-template>-->
        <!--      </td>-->
        <td>
          {{item.phone_customer2 != null ? item.phone_customer2 : 'Không có'}}

        </td>
        <td>
          <span *ngIf="item.approval_customer == 1; else elseApproval">Đã duyệt</span>
          <ng-template #elseApproval>
            <button type="button" class="btn btn-light btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#confirmModal" (click)="temp = item">Duyệt
            </button>
          </ng-template>
        </td>

        <td>
          <a [routerLink]="['/customer/detail/', item.id_customer]">
            <button type="button" class="btn btn-light btn-outline-secondary btn-sm">
              Chi tiết <i class="fa-solid fa-thin fa-circle-info"></i>
            </button>
          </a>
        </td>
        <td>
          <a [routerLink]="['/customer/edit', item.id_customer]">
            <button type="button" class="btn btn-light btn-outline-secondary btn-sm">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </a>
          <button type="button" class="btn btn-light btn-outline-secondary btn-sm" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" (click)="temp = item">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </td>
      </tr>

      </tbody>
    </ng-template>
  </table>

  <!--  Phân trang + Nút xóa-->
  <div *ngIf="customer" class="d-flex justify-content-between" id="last-row">
    <div>
    </div>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="customer.first ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(0)">Trang đầu</a>
          </li>
          <li class="page-item" [ngClass]="customer.first ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(customer.number - 1)"><</a>
          </li>
          <li class="page-item" *ngIf="customer.number - 3 > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number - 4)">{{customer.number - 3}}</a>
          </li>
          <li class="page-item" *ngIf="customer.number - 2 > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number - 3)">{{customer.number - 2}}</a>
          </li>
          <li class="page-item" *ngIf="customer.number - 1 > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number - 2)">{{customer.number - 1}}</a>
          </li>
          <li class="page-item" *ngIf="customer.number > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number - 1)">{{customer.number}}</a>
          </li>

          <li class="page-item active"><a class="page-link">{{customer.number + 1}}</a></li>

          <li class="page-item" *ngIf="customer.number + 2 <= customer.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number + 1)">{{customer.number + 2}}</a>
          </li>
          <li class="page-item" *ngIf="customer.number + 3 <= customer.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number + 2)">{{customer.number + 3}}</a>
          </li>
          <li class="page-item" *ngIf="customer.number + 4 <= customer.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number + 3)">{{customer.number + 4}}</a>
          </li>
          <li class="page-item" *ngIf="customer.number + 5 <= customer.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(customer.number + 4)">{{customer.number + 5}}</a>
          </li>
          <li class="page-item" [ngClass]="customer.last ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(customer.number + 1)">></a>
          </li>
          <li class="page-item" [ngClass]="customer.last ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(customer.totalPages - 1)">Trang cuối</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
    </div>
  </div>
</div>

<app-customer-approval [customerApproval]="temp" (emiter)="reload()"></app-customer-approval>
<app-customer-delete [customerApproval]="temp" (emiter)="reload()"></app-customer-delete>












