<!DOCTYPE html>
<html lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header style="text-align: center">
    <div> DANH SÁCH LIST BLOG: <a class="btn btn-info" href="http://localhost:8080/blog/list" role="button">CLICK
        HEAR</a></div>
    <div> DANH SÁCH LIST CATEGORY: <a class="btn btn-success" href="http://localhost:8080/category/list" role="button">CLICK HEAR</a></div>
    <div> DANH SÁCH LIST : <a class="btn btn-primary" href="#" role="button">CLICK HEAR</a></div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unity" viewBox="0 0 16 16">
            <path d="M15 11.2V3.733L8.61 0v2.867l2.503 1.466c.099.067.099.2 0 .234L8.148 6.3c-.099.067-.197.033-.263 0L4.92 4.567c-.099-.034-.099-.2 0-.234l2.504-1.466V0L1 3.733V11.2v-.033.033l2.438-1.433V6.833c0-.1.131-.166.197-.133L6.6 8.433c.099.067.132.134.132.234v3.466c0 .1-.132.167-.198.134L4.031 10.8l-2.438 1.433L7.983 16l6.391-3.733-2.438-1.434L9.434 12.3c-.099.067-.198 0-.198-.133V8.7c0-.1.066-.2.132-.233l2.965-1.734c.099-.066.197 0 .197.134V9.8L15 11.2Z"/>
        </svg>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning" type="submit">Search</button>
          </form>
        </div>
    </div>
</nav>
<div class="container-fluid" style="text-align: center">
    <div class="row">
        <div>
            <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/312560838_3041165549362792_5602301984739009203_n.jpg?_nc_cat=101&amp;ccb=1-7&amp;_nc_sid=730e14&amp;_nc_ohc=238t9Y0ghCsAX-xhsmW&amp;_nc_ht=scontent.fdad3-4.fna&amp;oh=00_AT_2kz_iyPVyu5gOHWSOFlb0O2dW0yliys0v8tE3vYNO1w&amp;oe=635935A4" width="1109" height="738">
        </div>
        <div class="col-sm-3" style="background-color:#6e00ff;">
            <div style="color: gold">
                ẢNH MINH ĐỨC NĂM 18 TUỔI
            </div>
            <div>
                <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
                     src="https://scontent.fdad3-6.fna.fbcdn.net/v/t39.30808-6/312617182_3040726322740048_1017427689911991403_n.jpg?_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=DjLt5LVNG58AX8lIroa&amp;tn=Grjsn_2A4Lr3JtBY&amp;_nc_ht=scontent.fdad3-6.fna&amp;oh=00_AT_Gw9avQzD_DAn5rEycAvJnFA1QvxjNkTP1Lpyls9oEoA&amp;oe=63594701"
                     width="443" height="789">
            </div>
        </div>
        <div class="col-sm-6" style="background-color:#ffca07;">
            <div style="color: #002ef3">
                HÌNH ẢNH ĐỨC NGAY BÂY GIỜ
            </div>
            <div>
                <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(39,100%,50%);
                transition: background-color 300ms;"
                     src="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-6/308709641_3040726019406745_2045897360522361779_n.jpg?_nc_cat=111&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=bWMcAaiWtNQAX8bhccI&amp;_nc_ht=scontent.fdad3-5.fna&amp;oh=00_AT-8tswKzwxZUQGsTj-P5gdTODs3o_e0Ylc0kIwh7uZDAQ&amp;oe=63592FF4"
                     width="591" height="789">
            </div>
        </div>
        <div class="col-sm-3" style="background-color:#1900ff;">
            <div style="color: gold">
                ẢNH MINH ĐỨC NĂM 20 TUỔI
            </div>
            <div>
                <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
                     src="https://scontent.fdad3-6.fna.fbcdn.net/v/t39.30808-6/311915006_3040733212739359_2729172651814935792_n.jpg?_nc_cat=105&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=Uz4mehKlIGgAX_cAJk4&amp;_nc_ht=scontent.fdad3-6.fna&amp;oh=00_AT_8gkDW5ZI_YrCWfdXoG2ucME41XBsUAhb7O8NXORtOSg&amp;oe=6358FA1C"
                     width="443" height="789">
            </div>
        </div>
    </div>
</div>
</body>
</html>