<!DOCTYPE html>
<html lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header style="text-align: center">
    <div> DANH SÁCH LIST BLOG: <a class="btn btn-info" href="http://localhost:8080/blog/list" role="button">CLICK
        HEAR</a></div>
    <div> DANH SÁCH LIST CATEGORY: <a class="btn btn-success" href="#" role="button">CLICK HEAR</a></div>
    <div> DANH SÁCH LIST : <a class="btn btn-primary" href="#" role="button">CLICK HEAR</a></div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning" type="submit">Search</button>
          </form>
        </div>
    </div>
</nav>
<div class="container-fluid" style="text-align: center">
    <div class="row">
        <div class="col-sm-3" style="background-color:#6e00ff;">
            <div style="color: gold">
                ẢNH MINH ĐỨC NĂM 18 TUỔI
            </div>
            <div>
                <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
                     src="https://scontent.fdad3-6.fna.fbcdn.net/v/t39.30808-6/312617182_3040726322740048_1017427689911991403_n.jpg?_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=DjLt5LVNG58AX8lIroa&amp;tn=Grjsn_2A4Lr3JtBY&amp;_nc_ht=scontent.fdad3-6.fna&amp;oh=00_AT_Gw9avQzD_DAn5rEycAvJnFA1QvxjNkTP1Lpyls9oEoA&amp;oe=63594701"
                     width="443" height="789">
            </div>
        </div>
        <div class="col-sm-6" style="background-color:#ffca07;">
            <div style="color: #002ef3">
                HÌNH ẢNH ĐỨC NGAY BÂY GIỜ
            </div>
            <div>
                <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(39,100%,50%);
                transition: background-color 300ms;"
                     src="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-6/308709641_3040726019406745_2045897360522361779_n.jpg?_nc_cat=111&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=bWMcAaiWtNQAX8bhccI&amp;_nc_ht=scontent.fdad3-5.fna&amp;oh=00_AT-8tswKzwxZUQGsTj-P5gdTODs3o_e0Ylc0kIwh7uZDAQ&amp;oe=63592FF4"
                     width="591" height="789">
            </div>
        </div>
        <div class="col-sm-3" style="background-color:#1900ff;">
            <div style="color: gold">
                ẢNH MINH ĐỨC NĂM 20 TUỔI
            </div>
            <div>
                <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
                     src="https://scontent.fdad3-6.fna.fbcdn.net/v/t39.30808-6/311915006_3040733212739359_2729172651814935792_n.jpg?_nc_cat=105&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=Uz4mehKlIGgAX_cAJk4&amp;_nc_ht=scontent.fdad3-6.fna&amp;oh=00_AT_8gkDW5ZI_YrCWfdXoG2ucME41XBsUAhb7O8NXORtOSg&amp;oe=6358FA1C"
                     width="443" height="789">
            </div>
        </div>
    </div>
</div>
</body>
</html>