<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<div th:replace="layout :: header"></div>

<div class="container d-flex justify-content-md-center mb-5" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12 bg-light info">
            <form action="/motelRoom/create" method="post" th:object="${motelRoom}">
                <fieldset>
                    <legend style="text-align: center"></legend>
                    <table>
                        <tr>
                            <td>Tên Chủ Hộ
                            </td>
                            <td>
                                <input type="text" name="tenChuHo" id="tenChuHo"
                                       class="form-control"
                                       title="Input cho dung' hi?"
                                       th:field="*{peopleHouseHold.name}">
                                <div class="text-danger" th:errors="*{peopleHouseHold.name}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tên Hôn Thê
                            </td>
                            <td>
                                <input type="text" name="tenHonThe" id="tenHonThe"
                                       class="form-control"
                                       title="Input cho dung' hi?"
                                       th:field="*{peopleHouseHold.nameWife}">
                                <div class="text-danger" th:errors="*{peopleHouseHold.nameWife}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>ngày bắt đầu hợp đồng
                            </td>
                            <td>
                                <input type="date" name="startDate" id="startDate" class="form-control"
                                       th:field="*{dateStart}">
                                <div class="text-danger" th:errors="*{dateStart}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>ngày kết thúc hợp đồng
                            </td>
                            <td>
                                <input type="date" name="endtDate" id="endtDate" class="form-control"
                                       th:field="*{dateEnd}">
                                <div class="text-danger" th:errors="*{dateEnd}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>note
                            </td>
                            <td>
                                <input type="text" name="note" class="form-control"
                                       th:field="*{note}">
                                <div class="text-danger" th:errors="*{note}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>số điện thoại
                            </td>
                            <td>
                                <input type="number" name="phoneNumber" class="form-control"
                                       th:field="*{phoneNumber}">
                                <div class="text-danger" th:errors="*{phoneNumber}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                kiểu thanh toán:
                            </td>
                           <td>
                               <select th:field="*{payMony}">
                                   <option th:each="p : ${payList}"
                                           th:value="${p.id}"
                                           th:text="${p.name}"></option>
                               </select>
                           </td>
                        </tr>
<!--                        <tr>-->
<!--                            <td>Address-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <input type="text" name="address" class="form-control"-->
<!--                                       th:field="*{address}">-->
<!--                                <div class="text-danger" th:errors="*{address}"></div>-->
<!--                            </td>-->
<!--                        </tr>-->

                        <tr>
                            <td><input type="reset" value="Clear"></td>
                            <td><input type="submit" value="submit" class=" btn-success"></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div th:replace="layout :: footer"></div>


<script>
    $(function (){
       $("#name").title();
    });
</script>

</body>
</html>