<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <div id="backlist">
          <a style="margin-left: 8px;color: #FFFFFF" href="#" title="Quay lại trang danh sách"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <h2 class="text-center">Tạo thông báo</h2>
        <form class="form">

          <div class=" input-group ">
            <div class=" form-floating flex-grow-1">
              <input type="date" class="form-control" id="floatingDateOfBirth">
              <label for="floatingDateOfBirth">Ngày</label>
            </div>
            <span class="input-group-text" id="basic-addon4"><i
              class="fa-regular fa-calendar"></i></span>
          </div><br>
          <div class=" input-group">
            <div class=" form-floating flex-grow-1">
              <input type="text" class="form-control" id="floatingName"
                     placeholder="Name" formControlName="lastName">
              <label for="floatingName">Tiêu Đề</label>
            </div>
            <span class="input-group-text" id="basic-addon2">
                            <i class="fa-solid fa-file"></i></span>
          </div><br>
          <div class=" input-group ">
            <div class="form-floating flex-grow-1">
                <textarea class="form-control" id="floatingIdCard"
                          placeholder="IdCard"
                          formControlName="idCard"></textarea>
              <label for="floatingIdCard">Nội Dung</label>
            </div>
            <span class="input-group-text" id="basic-addon6">
                            <i class="fa-solid fa-folder"></i></span>
          </div><br>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-primary" id="btn-sumit">Tạo Mới</button>
            </div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-secondary"id="btn-cancel">Hoàn Tác</button>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </form>
        <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a href="http://grafreez.com">C0722G1</a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">


          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Passion</h2>
                  <p>Real estate investing is the best, fastest, safest and only way to become rich</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
