<div class="container mt-5" id="container">
  <div class="form-container sign-up-container">
    <form *ngIf="customerForm" [formGroup]="customerForm" (ngSubmit)="submit()">
      <h1>Đăng ký</h1>
      <!--            Tên đăng nhập(*)-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.usernameAccount.hasError('required') && (customerForm.controls.usernameAccount.touched || submitted) ">
         Vui lòng nhập tài khoản!!!
    </span>
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.usernameAccount.hasError('pattern') && (customerForm.controls.usernameAccount.touched || submitted) ">
          tài khoản không được chứa ký tự đặc biệt!!!
     </span>
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.usernameAccount.hasError('minlength') && (customerForm.controls.usernameAccount.touched || submitted) ">
        Tài khoản có ít nhất 3 ký tự!!!
    </span>
      <span class="text-danger ms-3 val" *ngIf="customerForm.errors?.areEqual && customerForm.controls['usernameAccount'].touched">
        Tên đăng nhập đã tồn tại
      </span>
      <input formControlName="usernameAccount" type="text" placeholder="Tên đăng nhập(*)"/>

      <div formGroupName="passGroup">
        <!--password-->
        <span class="text-danger ms-3 val"
              *ngIf="customerForm.get('passGroup').hasError('required','encryptPassword')
          && (customerForm.get('passGroup')?.get('encryptPassword').touched || submitted)">
        Vui lòng nhập mật khẩu!!!</span>
        <input formControlName="encryptPassword" type="password" placeholder="Mật khẩu(*)"/>
        <span class="text-danger ms-3 val"
              *ngIf="customerForm.get('passGroup').hasError('minlength','encryptPassword')
          && (customerForm.get('passGroup')?.get('encryptPassword').touched || submitted)">
                  Mật khẩu có ít nhất 6 ký tự!!!</span>
        <!--        password confirm-->
        <span class="text-danger ms-3 val"
              *ngIf="customerForm.get('passGroup').hasError('required','passwordConfirm')
                       && (customerForm.get('passGroup')?.get('passwordConfirm').touched || submitted)">
                       Vui lòng nhập  lại mật khẩu!!!</span>
        <span class="text-danger ms-3 val"
              *ngIf="customerForm.get('passGroup').hasError('notSame') && !((customerForm.get('passGroup').get('passwordConfirm').pristine) ||submitted)">
                      Mật khẩu phải giống nhau!!!
                </span>

        <span class="text-danger ms-3 val"
              *ngIf="customerForm.get('passGroup').hasError('minlength','passwordConfirm')
                    && (customerForm.get('passGroup')?.get('passwordConfirm').touched ||submitted)">
                    Mật khẩu có ít nhất 6 ký tự !!!</span>
        <input formControlName="passwordConfirm" type="password" placeholder="Nhập lại khẩu(*)"/>
      </div>

      <!--Họ và tên(*)-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.nameCustomer.hasError('required') && (customerForm.controls.nameCustomer.touched ||submitted) ">
         Vui lòng nhập họ và tên!!!
    </span>
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.nameCustomer.hasError('pattern') && (customerForm.controls.nameCustomer.touched ||submitted) ">
      Tên khách hàng không được chứa số và ký tự đặc biệt!!!
    </span>
      <input formControlName="nameCustomer" type="text" placeholder="Họ và tên(*)"/>

      <!--Ngay sinh(*)-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.dateOfBirth.hasError('required') && (customerForm.controls.dateOfBirth.touched ||submitted) ">
         Vui lòng nhập ngày sinh!!!
    </span>
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.dateOfBirth.hasError('invalidDateOfBirth') && (customerForm.controls.dateOfBirth.touched ||submitted) ">
         Khách hàng phải >= 18 tuổi!!!
    </span>
      <input formControlName="dateOfBirth" type="date" placeholder="Ngay sinh(*)"/>

      <!--CCCD-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.idCardCustomer.hasError('required') && (customerForm.controls.idCardCustomer.touched||submitted) ">
         Vui lòng nhập CCCD/CMND!!!
    </span>
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.idCardCustomer.hasError('pattern') &&( customerForm.controls.idCardCustomer.touched ||submitted) ">
      Số CCCD phải  12 số!!!
    </span>
      <input formControlName="idCardCustomer" type="number" placeholder="CCCD(*)"/>

      <!--Di Động 1(*)-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.phoneCustomer1.hasError('required') && (customerForm.controls.phoneCustomer1.touched||submitted) ">
         Vui lòng nhập số điện thoại!!!
    </span>
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.phoneCustomer1.hasError('pattern') && (customerForm.controls.phoneCustomer1.touched||submitted) ">
              Nhập đúng định dạng [84x] (x là 9 chữ số)!!!
    </span>
      <input formControlName="phoneCustomer1" type="number" placeholder="Di Động 1(*)"/>

      <!--Di Động 2-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.phoneCustomer2.hasError('pattern') && (customerForm.controls.phoneCustomer2.touched||submitted) ">
              Nhập đúng định dạng [84x] (x là 9 chữ số)!!!
    </span>
      <input formControlName="phoneCustomer2" type="number" placeholder="Di Động 2"/>

      <!--email-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.emailCustomer.hasError('required') &&( customerForm.controls.emailCustomer.touched ||submitted) ">
         Vui lòng nhập email!!!
    </span>
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.emailCustomer.hasError('pattern') && (customerForm.controls.emailCustomer.touched || submitted) ">
              Email phải đúng định dạng [xxxxxxxx@xxx.xxx]!!!
    </span>
      <span class="text-danger ms-3 val" *ngIf="customerForm.errors?.isExist && customerForm.controls['emailCustomer'].touched">
        Email đã tồn tại
      </span>
      <input formControlName="emailCustomer" type="email" placeholder="Email(*)"/>

      <!--Địa chỉ(*)-->
      <span class="text-danger ms-3 val"
            *ngIf="customerForm.controls.addressCustomer.hasError('required') && (customerForm.controls.addressCustomer.touched ||submitted) ">
         Vui lòng nhập địa chỉ!!!
    </span>
      <input formControlName="addressCustomer" type="text" placeholder="Địa chỉ(*)"/>

      <!--gioi tinh(*)-->
      <div id="inlineRadio1">
         <span class="text-danger ms-3 val"
               *ngIf="customerForm.controls.genderCustomer.hasError('required') && (customerForm.controls.genderCustomer.touched||submitted) ">
         Vui lòng nhập giới tính!!!
    </span><br>
        <p>Chọn giới tính</p>
        <label><input type="radio"  value="1"  formControlName="genderCustomer">Nam</label>
        <label><input type="radio"  value="2"  formControlName="genderCustomer">Nữ</label>
        <label><input type="radio"  value="3"  formControlName="genderCustomer">Khác</label>
      </div>

      <div class="form-check d-flex justify-content-center">
        <input class="me-3" style="height: 18px; width: 18px"  type="checkbox" (click)="onchangeStautus()" value="" >
        <label class="form-check-label" >
          Đồng ý <a href="">điều khoản</a> của website
        </label>
      </div>
      <button type="submit" [disabled]="(!customerForm.valid || !status)" >Đăng ký</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left overlay-right">
        <h3>Batdongsan.com.vn</h3>
        <img src="../../../assets/logoSang.png" height="213" width="399"/>
        <p>Đăng nhập bằng tài khoản của bạn</p>
        <button class="ghost" routerLink="/account/login" id="signIn">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>

