<footer class="container-fluid">
  <div class="footer-content container">
    <h4 style="margin-top: 12px; color: blueviolet">C0622G1 Lê Bá Hoàng Giang - Thank you for using our service!</h4>
    <div class="row">
      <div class="col-lg-6 d-flex follow">
        <span style="color: dodgerblue"> 280, Tran Hung Dao, Phuong Hai An, Quan Son Tra, TP Da Nang</span>
      </div>
      <div class="col-lg-3 d-flex follow">
        <a href="">codegym@gmail.com</a>
      </div>
      <div class="col-lg-3 d-flex follow">
        <span style="color: dodgerblue">+(84)999999999</span>
      </div>
    </div>
    <br>
  </div>
</footer>
