<!--<div class="container-fluid">-->
<!--  <div class="row" style="width: 100%; padding: 0; margin: 0;">-->
<!--    <div id="content">-->

<!--      <h1 style="text-align: center; color: blue">Thêm mới Vé Xe</h1>-->

<!--      <form *ngIf="rfTicket" [formGroup]="rfTicket" (ngSubmit)="submit()" id="form11">-->
<!--        <fieldset style="width: 65%; margin-left: 25%">-->
<!--          <legend>Nhập thông tin</legend>-->
<!--          <table class="table table-striped" style="text-align: left">-->
<!--            <tr>-->
<!--              <td width="15%"><label for="input-startPlace" class="form-label">Điểm đi*</label></td>-->
<!--              <td width="25%">-->
<!--                <input type="text" class="form-control" id="input-startPlace"-->
<!--                       formControlName="fromPlace"-->
<!--                       [ngClass]="(rfTicket.controls['fromPlace'].touched)?-->
<!--                       rfTicket.controls['fromPlace'].invalid?'is-invalid':'is-valid':''">-->
<!--              </td>-->
<!--              <td width="60%">-->
<!--                <div *ngIf="rfTicket.controls['fromPlace'].hasError('required') &&-->
<!--                   rfTicket.controls['fromPlace'].touched" style="color: red">-->
<!--                  Vui lòng nhập điểm đi.-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->

<!--            <tr>-->
<!--              <td><label for="input-toPlace" class="form-label">Điểm đi*</label></td>-->
<!--              <td>-->
<!--                <input type="text" class="form-control" id="input-toPlace"-->
<!--                       formControlName="toPlace"-->
<!--                       [ngClass]="(rfTicket.controls['toPlace'].touched)?-->
<!--                       rfTicket.controls['toPlace'].invalid?'is-invalid':'is-valid':''">-->
<!--              </td>-->
<!--              <td>-->
<!--                <div *ngIf="rfTicket.controls['toPlace'].hasError('required') &&-->
<!--                   rfTicket.controls['toPlace'].touched" style="color: red">-->
<!--                  Vui lòng nhập điểm đến.-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><label for="input-garage" class="form-label">Nhà Xe*</label></td>-->
<!--              <td><select formControlName="garage" class="form-control" id="input-garage"-->
<!--                          [ngClass]="(rfTicket.controls['garage'].touched)?-->
<!--                       rfTicket.controls['garage'].invalid?'is-invalid':'is-valid':''">-->
<!--                <option value="">-&#45;&#45; Chọn Nhà Xe -&#45;&#45;</option>-->
<!--                <option *ngFor="let item of garages" [ngValue]="item">{{item.name}}</option>-->
<!--              </select></td>-->
<!--              <td>-->
<!--                <div *ngIf="rfTicket.controls['garage'].hasError('required') &&-->
<!--                   rfTicket.controls['garage'].touched" style="color: red">-->
<!--                  Vui lòng Chọn Nhà Xe.-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->

<!--            <tr>-->
<!--              <td><label for="input-startDate" class="form-label">Ngày Khởi hành*</label></td>-->
<!--              <td><input type="date" class="form-control" id="input-startDate" formControlName="startDate"-->
<!--                         [ngClass]="(rfTicket.controls['startDate'].touched)?-->
<!--                       rfTicket.controls['startDate'].invalid?'is-invalid':'is-valid':''">-->
<!--              <td>-->
<!--                <div *ngIf="rfTicket.controls['startDate'].hasError('required') &&-->
<!--                   rfTicket.controls['startDate'].touched" style="color: red">-->
<!--                  Vui lòng nhập Ngày Khởi hành.-->
<!--                </div>-->
<!--                <div *ngIf="rfTicket.controls['startDate'].hasError('pattern') &&-->
<!--                   rfTicket.controls['startDate'].touched" style="color: red">-->
<!--                  Ngày Khởi hành chưa đúng định dạng dd/MM/yyyy-->
<!--                </div>-->
<!--                <div *ngIf="rfTicket.controls['startDate'].hasError('invalidStartDate') &&-->
<!--                   !rfTicket.controls['startDate'].hasError('required') &&-->
<!--                   rfTicket.controls['startDate'].touched" style="color: red">-->
<!--                  Ngày khởi hành phải bắt đầu từ ngày mai.-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->

<!--            <tr>-->
<!--              <td><label for="input-startHour" class="form-label">Giờ khởi hành*</label></td>-->
<!--              <td><input type="text" class="form-control" id="input-startHour" formControlName="startHour"-->
<!--                         [ngClass]="(rfTicket.controls['startHour'].touched)?-->
<!--                       rfTicket.controls['startHour'].invalid?'is-invalid':'is-valid':''">-->
<!--              </td>-->
<!--              <td>-->
<!--                <div *ngIf="rfTicket.controls['startHour'].hasError('required') &&-->
<!--                   rfTicket.controls['startHour'].touched" style="color: red">-->
<!--                  Vui lòng nhập Giờ khởi hành.-->
<!--                </div>-->
<!--                <div *ngIf="rfTicket.controls['startHour'].hasError('pattern') &&-->
<!--                   rfTicket.controls['startHour'].touched" style="color: red">-->
<!--                  Giờ khởi hành hh:mm-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><label for="input-quantity" class="form-label">Số lượng*</label></td>-->
<!--              <td><input type="text" class="form-control" id="input-quantity" formControlName="quantity"-->
<!--                         [ngClass]="(rfTicket.controls['quantity'].touched)?-->
<!--                       rfTicket.controls['quantity'].invalid?'is-invalid':'is-valid':''">-->
<!--              </td>-->
<!--              <td>-->
<!--                <div *ngIf="rfTicket.controls['quantity'].hasError('required') &&-->
<!--                   rfTicket.controls['quantity'].touched" style="color: red">-->
<!--                  Vui lòng nhập Số lượng.-->
<!--                </div>-->
<!--                <div *ngIf="rfTicket.controls['quantity'].hasError('pattern') &&-->
<!--                   rfTicket.controls['quantity'].touched" style="color: red">-->
<!--                  Số lượng phải là số nguyên dương-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><label for="input-price" class="form-label">Giá vé*</label></td>-->
<!--              <td><input type="text" class="form-control" id="input-price" formControlName="price"-->
<!--                         [ngClass]="(rfTicket.controls['price'].touched)?-->
<!--                       rfTicket.controls['price'].invalid?'is-invalid':'is-valid':''">-->
<!--              </td>-->
<!--              <td>-->
<!--                <div *ngIf="rfTicket.controls['price'].hasError('required') &&-->
<!--                   rfTicket.controls['price'].touched" style="color: red">-->
<!--                  Vui lòng nhập Giá vé.-->
<!--                </div>-->
<!--                <div *ngIf="rfTicket.controls['price'].hasError('pattern') &&-->
<!--                   rfTicket.controls['price'].touched" style="color: red">-->
<!--                  Giá vé phải là số nguyên dương-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr *ngIf="rfTicket.invalid && rfTicket.touched ">-->
<!--              <td colspan="3"><span style="color: red">Vui lòng nhập đủ các thông tin</span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><input class="btn btn-primary" (click)="resetForm()" value="Reset"></td>-->
<!--              <td style="text-align: center">-->
<!--                <button type="submit" class="btn btn-primary" [disabled]="rfTicket.invalid">Submit</button>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </fieldset>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
