<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
</head>
<body>


<div th:replace="~{/layout::navbar}"></div>
<h3 style="text-align: center">BLOG</h3>
<p>
    <a th:href="@{/blog/create}">
        Add new blog
    </a>
</p>
<form action="/blog/list" method="get">
    <tr>
        <input class="form-control me-2 w-25 " type="text" placeholder="Name"
               name="name" aria-label="Search" th:value="${name}">
        <input class="form-control me-2 w-25 " type="text" placeholder="note"
               name="note" aria-label="Search" th:value="${note}">
        <button class="btn btn-success" type="submit">Search</button>
    </tr>
</form>
<a th:href="@{/blog/list(sort='name', name=${name}, note=${note})}" class="btn btn-success" type="submit">Sort By
    Name</a>
<a th:href="@{/blog/list(sort='note', name=${name}, note=${note})}" class="btn btn-success" type="submit">Sort By
    Note</a>
<table id="customers">
    <thead>
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>Name</th>
        <th>content</th>
        <th>note</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,loop : ${blogPage}">
        <td th:text="${loop.count + blogPage.size * blogPage.number}"></td>
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.note}"></td>
        <td th:text="${blog.category.name}"></td>

        <!-- EDIT -->
        <td><a th:href="@{/blog/{id}/edit(id=${blog.id})}">
            <buton class="btn btn-success">EDIT</buton>
        </a></td>

        <td>
            <!-- DELETE -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    th:attr="onclick=|getIdToDelete('${blog.id}','${blog.name}')|">
                DELETE
            </button>
        </td>
        <td>
            <!-- VIEW -->
            <button th:attr="onclick=|infoToDetail('${blog.id}','${blog.name}','${blog.content}','${blog.note}')|"
                    class="btn btn-warning"
                    type="button" data-bs-toggle="modal" data-bs-target="#detailModal">
                VIEW
            </button>
        </td>
    </tr>


    <!-- Modal Delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/blog/delete" method="get">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-danger" id="exampleModalLabel">Blog</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <b>ID Blog :</b>
                        <input type="text" readonly name="id" id="idDelete" class="form-control"><br>
                        <b>Name Blog :</b>
                        <input type="text" readonly name="name" id="nameDelete" class="form-control"><br>
                        <h3 class="text-danger">Are you sure want delete </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="delete">Yes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal view-->
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-danger" id="exampleModalLabel1">Blog</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <b>ID Blog :</b>
                        <input type="text" readonly name="id" id="detailId" class="form-control"><br>
                        <b>Name Blog :</b>
                        <input type="text" readonly name="name" id="detailName" class="form-control"><br>
                        <b>Content Blog :</b>
                        <input type="text" readonly name="content" id="detailContent" class="form-control"><br>
                        <b>Note Blog :</b>
                        <input type="text" readonly name="note" id="detailNote" class="form-control"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

    </tbody>
</table>

<!-- Phan Trang -->
<div class="d-flex justify-content-end ">
    <ul class="pagination">
        <li class="page-item disabled" th:if="${blogPage.number == 0}">
            <a class="page-link" href="">Previous</a>
        </li>
        <li class="page-item" th:if="${blogPage.number > 0}">
            <a class="page-link"
               th:href="@{/blog/list(page=${blogPage.number - 1}, sort=${sortValue}, name=${name}, note=${note})}">Previous</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href=""><span th:text="${blogPage.number + 1}"></span> / <span
                    th:text="${blogPage.totalPages}"></span></a>
        </li>
        <li class="page-item disabled" th:if="${blogPage.number >= blogPage.totalPages - 1}">
            <a class="page-link" href="">Next</a>
        </li>
        <li class="page-item" th:if="${blogPage.number < blogPage.totalPages - 1}">
            <a class="page-link"
               th:href="@{/blog/list(page=${blogPage.number + 1}, sort=${sortValue}, name=${name}, note=${note})}">Next</a>
        </li>
    </ul>
</div>
<script>
    // <%--    thêm value cho thẻ delete--%>
    function getIdToDelete(id, name) {

        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").value = name;
    }

    // <%--    thêm value cho thẻ view--%>
    function infoToDetail(id, name, content, note) {
        document.getElementById("detailId").value = id;
        document.getElementById("detailName").value = name;
        document.getElementById("detailContent").value = content;
        document.getElementById("detailNote").value = note;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>