<section class="login-block">
  <div class="container">
    <div class="row">

      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/936722/pexels-photo-936722.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Passion</h2>
                  <p>Real estate cannot be lost or stolen. Buying the right property, fully paid for, and carefully managed is the safest investment in the world. </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 login-sec">
        <div id="backlist">
          <a style="margin-left: 8px;color: #FFFFFF" href="#" title="Quay lại trang danh sách"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <h2 class="text-center">Chỉnh  thông báo</h2>

        <form class="form" novalidate = "novalidate" [formGroup]="notificationForm" (ngSubmit)="submit(id)">

<!--          <div class="input-group">-->
<!--            <div class=" input-group ">-->
<!--              <div class=" form-floating flex-grow-1">-->
<!--                <input type="text" class="form-control" id="title" required-->
<!--                       formControlName="title"-->
<!--                       [ngClass]="(notificationForm.controls['title'].touched) ?-->
<!--                               (notificationForm.controls['title'].errors ? 'is-invalid' : 'is-valid') : '' ">-->
<!--                <label for="floatingName">Tiêu đề</label>-->
<!--              </div>-->
<!--              <span class="input-group-text" id="basic-addon"><i-->
<!--                class="fa-solid fa-user"></i></span>-->
<!--            </div>-->
<!--            <div *ngIf="notificationForm.controls['title'].hasError('required')-->
<!--                             && notificationForm.controls['title'].touched" style="color: red">-->
<!--              Tiêu đề không được bỏ trống.-->
<!--            </div>-->
<!--          </div>-->

          <div class="form-group">
            <label for="title" class="h6">Điểm Đi:</label>
            <div class="alert alert-danger" role="alert"
                 *ngIf="notificationForm.controls.title.hasError('required') &&
                      notificationForm.controls.title.touched">
              Điểm ĐI không được để trống!
            </div>
            <div class="input-group">
              <input type="text" id="title" class="form-control" placeholder="Nhập Điểm Xuất Phát.."
                     formControlName="title"/>
              <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
            </div>
          </div>

          <br>

          <div class=" input-group">
            <div class=" form-floating flex-grow-1">
              <input type="text" class="form-control" id="floatingName"
                     placeholder="Name" formControlName="lastName">
              <label for="floatingName">Họp bộ phận lễ tân</label>
            </div>
            <span class="input-group-text" id="basic-addon2">
                           <i class="fa-solid fa-file"></i></span>
          </div><br>
          <div class=" input-group ">
            <div class="form-floating flex-grow-1">
                <textarea class="form-control" id="floatingIdCard"
                          placeholder="IdCard"
                          formControlName="idCard"></textarea>
              <label for="floatingIdCard">Họp nhanh bộ phận lễ tân, 9h sáng ngày 13/2/2023</label>
            </div>
            <span class="input-group-text" id="basic-addon6">
                            <i class="fa-solid fa-folder"></i></span>
          </div><br>

          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-primary" id="btn-sumit">Chỉnh Sửa</button>
            </div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-secondary"id="btn-cancel">Hoàn Tác</button>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </form>
        <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a href="http://grafreez.com">C0722G1</a></div>
      </div>

    </div>
  </div>
</section>

