@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block {
  /*background: #DE6262;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  !* Chrome 10-25, Safari 5.1-6 *!*/
  background: linear-gradient(to bottom, #19313030, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0;
}

.banner-sec {
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(35, 34, 34, 0.1);
}

.carousel-inner {
  border-radius: 0 10px 10px 0;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}
/*điều chỉnh form nằm giữa*/
.login-sec {
  padding: 50px 30px;
  position: relative;
}

/*điều chỉnh thanh liên kết*/
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
/*màu trái tim*/
.login-sec .copy-text i {
  color: #feb58a;
}
/*màu link liên kết*/
.login-sec .copy-text a {
  color: #e36262;
}
/*màu tiêu đề*/
.login-sec h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  /*font-size: 3.2em;*/
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
  background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/*màu thanh ngang tiêu đề*/
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #feb58a;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}

.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FFF;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}

#backlist {
  background: linear-gradient(to bottom, #e36262, #feb58a);
  border-radius: 50%;
  height: 31px;
  width: 31px;
}

#btn-sumit {
  background: linear-gradient(to bottom, #0dadec, #87eeee);
  color: white;
  font-weight: 600;
}
#btn-cancel{
  background: linear-gradient(to bottom, #d3d3d3, #FFFFFF);
  color: black;
  font-weight: 600;
}
