<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="layout :: header"></div>

<div style="text-align: center; font-size: 14px; background-image: linear-gradient(to top right, #EB9FC0, #B83F8F, #2C2867);height: 100vh; overflow:hidden ">


    <!--hiện thị danh sách đối tượng-->
    <div class="container-fluid">
        <div class="row">
            <div style="text-align: center; font-size: 14px">
                <table class="table table-info table-striped" style="width: 100%">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Ngày bắt đầu hợp đồng</th>
                        <th scope="col">Ngày kết thúc hợp đồng</th>
                        <th scope="col">Tiền Đặt Cọc</th>
                        <th scope="col">Tên Khách Hàng</th>
                        <th scope="col">Tên Nhân Viên</th>
                        <th scope="col">Tên Dịch Vụ</th>
                        <th scope="col">Thêm hợp đồng chi tiết</th>
                        <th scope="col">Xem dịch vụ đi kèm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- code để nhận list đang có-->
                    <tr class="table-light" th:each="iteam, loop : ${contractPage}">

                        <th scope="row" th:text="${loop.count}"></th>
                        <td th:text="${iteam.startDate}"></td>
                        <td th:text="${iteam.endDate}"></td>
                        <td th:text="${iteam.deposit}"></td>
                        <td th:text="${iteam.customer.name}"></td>
                        <td th:text="${iteam.employee.name}"></td>
                        <td th:text="${iteam.facility.name}"></td>


                        <!-- Button thêm mới dịch vụ đi kèm -->
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    th:attr="onclick=|contractDetail('${iteam.id}')|">
                                +
                            </button>
                        </td>
                        <!-- nút xem dịch vụ đi kèm -->
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#view"
                                    th:attr="onclick=|infoToModal('${iteam.id}')|">
                                xem dịch vụ đi kèm
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Phan Trang -->
    <div class="d-flex justify-content-end ">
        <ul class="pagination">
            <li class="page-item disabled" th:if="${contractPage.number == 0}">
                <a class="page-link" href="">Previous</a>
            </li>
            <li class="page-item" th:if="${contractPage.number > 0}">
                <a class="page-link"
                   th:href="@{/contract/list(page=${contractPage.number - 1})}">Previous</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href=""><span th:text="${contractPage.number + 1}"></span> / <span
                        th:text="${contractPage.totalPages}"></span></a>
            </li>
            <li class="page-item disabled" th:if="${contractPage.number >= contractPage.totalPages - 1}">
                <a class="page-link" href="">Next</a>
            </li>
            <li class="page-item" th:if="${contractPage.number < contractPage.totalPages - 1}">
                <a class="page-link"
                   th:href="@{/contract/list(page=${contractPage.number + 1})}">Next</a>
            </li>
        </ul>
    </div>

    <!--modal delete-->
    <div class="modal fade" id="deleteButton" tabindex="-1" aria-labelledby="exampleModalLabelDelete"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/contract/delete" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelDelete">Deleting</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure about that?
                        Delete <span class="fw-bold text-danger" id="removeCustomerName"></span>?
                        <input type="hidden" id="removeCustomerId" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">&#10006;
                        </button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--call modal notice-->
    <input type="hidden" id="noticeMsgModal" th:value="${msg}">

    <!-- Modal notice -->
    <div class="modal fade" id="noticeMsg" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header">
                    <h5 class="modal-title">Furama 's notice</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span th:text="${msg}"></span>
                    <img src="https://media0.giphy.com/media/AWIm1O6FjmCtsI2Pru/giphy.gif?cid=790b7611e14412e5147aee187464a8df9dfeea3085950a9a&rid=giphy.gif&ct=s"
                         style="width: 35px; height: auto"
                         alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">&#10004;</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete tất cả đối tượng -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form action="/contract/delete" method="get">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-danger" id="exampleModalLabelAll"></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <input type="hidden" readonly name="stringArr" id="stringArr" class="form-control"><br>
                        <h3 class="text-danger">Bạn có chắc chắn xóa hay không</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="delete">Yes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal xem chi tiết từng đối tượng-->
    <div class="modal fade " id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         style="color: #0000ff">
        <div class="modal-dialog ">
            <div class="modal-content bg-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Dịch vụ đi kèm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên Dịch Vụ</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Đơn vị</th>
<!--                            <th scope="col">Tổng tiền</th>-->
                        </tr>
                        </thead>
                        <tbody id="myBodyPeople">
                        <!-- hien thi cac gia tri-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal thêm dịch vụ di kèm -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <h5>Các dịch vụ hiện có</h5>
                        <tr>
                            <th scope="col">Mã dịch vụ</th>
                            <th scope="col">Tên Dịch Vụ</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Đơn vị</th>
                        </tr>
                        </thead>
                        <tbody id="myBodyAttach">
                        <!-- hien thi cac gia tri-->
                        </tbody>
                    </table>
                    <table>
                        <h5>Thêm mới hợp đồng chi tiết</h5>
                        <tr>
                            <th>
                                <label for="idAttach">Nhập mã dịch vụ đi kèm</label>
                                <input type="number" id="idAttach"><br>
                            </th>

                        </tr>
                        <tr>
                            <th>
                                <label for="quantity">Nhập số lượng dịch vụ đi kèm</label>
                                <input type="number" id="quantity"><br>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <label for="sumMonny">Tổng tiền phải thanh toán</label>
                                <p id="sumMonny" >aaa</p>
                            </th>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: footer"></div>

<!--script delete-->
<script>
    // fuction hiển thị modal delete đối tượng
    function showModalDelete(deleteCustomerId, deleteCustomerName) {
        $('#removeCustomerName').text(deleteCustomerName);
        $('#removeCustomerId').val(deleteCustomerId);
    }

    // hiển thị noice khi xóa đối tượng
    window.onload = function () {
        let msg = $("#noticeMsgModal").val();
        if (msg != null && msg !== "") {
            $(document).ready(function () {
                $("#noticeMsg").modal("show");
            });
        }
    }
</script>

<!--script delete all-->
<script>
    let arr = new Array();

    // <%--    chuyen arr qua chuoi--%>
    function stringArr() {
        let stringArr = arr.toString();
        console.log(stringArr);
        document.getElementById("stringArr").value = stringArr;
    }

    // <%--    thêm value cho thẻ delete--%>
    function getIdToDelete(id) {
        arr.push(id)
    }

    // hiển thị noice khi xóa đối tượng
    window.onload = function () {
        let msg = $("#noticeMsgModal").val();
        if (msg != null && msg !== "") {
            $(document).ready(function () {
                $("#noticeMsg").modal("show");
            });
        }
    }
</script>

<!-- ajac-->
<script>
    // <%--   hien thị chi tiết tường đối tượng bằng ajac--%>
    function infoToModal(id) {
        console.log("bấm hiển thị chi tiết");
        $("#myBodyPeople").empty();
        $.ajax({
            url: "http://localhost:8080/rest/listContractDetail/" + id,
            type: "GET",
            contentType: "application/json; charset =utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data)
                let myTableAttachFacility = "";
                for (let i = 0; i < data.length; i++) {
                    myTableAttachFacility +=
                        `
                            <tr>
                              <th  class="text-danger">${i + 1}</th>
                              <td  class="text-danger">${data[i].name}</td>
                              <td  class="text-danger">${data[i].cost}</td>
                              <td  class="text-danger">${data[i].status}</td>
                              <td  class="text-danger">${data[i].unit}</td>
                            </tr>
                            `
                }
                console.log("hello")
                console.log(myTableAttachFacility)
                if (myTableAttachFacility.length == 0) {
                    myTableAttachFacility +=
                        `
                            <tr>
                              <td>"không có dịch vụ đi kèm</td>
                            </tr>
                            `
                }
                $("#myBodyChild").empty();
                $("#myBodyPeople").append(myTableAttachFacility);
            }
        })
    }
</script>

<script>

</script>


<!-- them moi dich vu  bằng ajax-->
<script>
    let newId = 0;


    // <%--   lấy list dịch vụ đi kèm băng--%>
    function contractDetail(id) {
        newId = id;
        console.log("bấm hiển thị chi tiết");
        $("#myBodyPeople").empty();
        $.ajax({
            url: "http://localhost:8080/rest/listAttachFacility",
            type: "GET",
            contentType: "application/json; charset =utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data)
                let myTableAttachFacility = "";
                for (let i = 0; i < data.length; i++) {
                    myTableAttachFacility +=
                        `
                            <tr>
                           <td  class="text-danger">${data[i].id}</td>
                              <td  class="text-danger">${data[i].name}</td>
                              <td  class="text-danger">${data[i].cost}</td>
                              <td  class="text-danger">${data[i].status}</td>
                              <td  class="text-danger">${data[i].unit}</td>
                            </tr>
                            `
                }
                console.log(myTableAttachFacility)
                if (myTableAttachFacility.length == 0) {
                    myTableAttachFacility +=
                        `
                            <tr>
                              <td>"không có dịch vụ đi kèm</td>
                            </tr>
                            `
                }
                $("#myBodyAttach").empty();
                $("#myBodyAttach").append(myTableAttachFacility);
            }
        })
    }

    $("#save").click(function () {
        //lay du lieu
        let idAttach = $('#idAttach').val();
        let quantity = $('#quantity').val();
        let contract = {
            attachFacility: idAttach,
            quantity: quantity,
            contract: newId,
            toString() {
                return this.name;
            }
        };
        console.log("Data là " + String(contract));
        // goi ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(contract),
            //tên API
            url: "http://localhost:8080/rest/createContractDetail",
            //xử lý khi thành công
        });
        $("#name").empty();
        $('#exampleModal').hide();
        $('.modal-backdrop').hide();
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>