<!-- Modal delete -->
<form [formGroup]="deleteForm" (ngSubmit)="deleteEmployee()">
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Xóa nhân viên</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>Bạn có muốn xóa nhân viên <span>{{employee.nameEmployee}}</span> không ?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</form>

